  <form action="/users" method="post" accept-charset="UTF-8">
  username: <input type="text" name="user[username]"><br>
  email: <input type="text" name="user[email]"><br>
  password: <input type="password" name="user[password_digest]"><br>
  password confirmation: <input type="password" name="user[password_digest_confirmation]"><br>
  <input type="submit" value="Submit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form> 